{% extends 'base.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock %}
    
{% block content %}
<div class="grid-x grid-margin-x" style="border-bottom:2px solid #EDEBEB;">
    <div class="cell text-center" style="margin-top:20px;">
        <h4>Temperatuur</h4>
        </div>
    <div class="cell medium-4" style="margin-top:20px;">
        <div id="temp">
        </div>
    </div>
    <div class="cell auto" style="margin-top:20px;">
        <canvas id="tempHist" class="responsive-canvas" style="height:350px;">
        </canvas>
    </div>
</div>

<div class="grid-x grid-margin-x">
    <div class="cell text-center" style="margin-top:20px;">
        <h4>Luchtvochtigheid</h4>
    </div>
    <div class="cell medium-4" style="margin-top:50px;">
        <div id="hum">
        </div>
    </div>
    <div class="cell auto" style="margin-top:20px;">
        <canvas id="humHist" class="responsive-canvas" style="height:350px;">
        </canvas
    </div>
</div>

<script>
{% include 'gauge.js' %}
</script>

<script>
{% include 'history.js' %}
</script>

<!--
<script>
    function resizeCanvas() {
        let canvas = $('.responsive-canvas');
        let i = 0;
        while (i < canvas.length) {
            canvas[i].style.width = "100%";
            canvas[i].style.height = canvas[i].style.width * 0.45;
            i += 1;
        };
    }

    window.onresize = resizeCanvas;
</script>
-->

{% endblock %}
